@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono&display=swap');

@font-face {
  font-family: 'TsangerJinKai';
  src: url('/fonts/仓耳今楷W04.ttf') format('truetype');
}

body {
  font-family: 'TsangerJinKai', serif;
  font-size: 18px;
}

code, pre {
  font-family: 'SUSE Mono', monospace;
}
